/*
Основной цвет текста: #212121
Вторичный цвет текста: #757575
Основной акцент: #2196F3
Белый текст и основной фон: #FFFFFF
Цвет текста футера: rgba(255, 255, 255, 0.6);
Вторичный цвет фона: #2F303A
*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --main-accent: #2196f3;
  --pure-white-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #2f303a;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.flexbox {
  display: flex;
}

.page-header {
  background-color: var(--pure-white-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding: 0px 15px 0 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  /*outline: 2px solid tomato;*/
}
.justify-center {
  align-items: center;
  justify-content: flex-end;
}
/* шапка странички*/
.main-nav {
  margin-right: auto;
}

.logo {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  inline-size: 1.2;
}
.accent {
  color: var(--main-accent);
}
.site-nav {
  margin-left: 93px;
}
.site-nav__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--main-accent);
}

.link--current {
  color: var(--main-accent);
  position: relative;
}

.link--current:after {
  content: '';
  position: absolute;
  background-color: #2196f3;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  left: 0;
  bottom: -31px;
}

.header-contacts__link {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: var(--secondary-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--main-accent);
  text-decoration: underline;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-contacts svg {
  display: inline-block;
  margin-right: 10px;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.header-contacts__link:hover svg,
.header-contacts__link:focus svg {
  fill: var(--main-accent);
}

/* футер */

.footer {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  text-decoration: none;
  color: var(--pure-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  inline-size: 1.2;
}
.address {
  font-weight: 400;
  font-style: normal;
  color: var(--pure-white-color);
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.adress__text {
  display: block;
}
.address__item {
  display: block;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: var(--footer-text-color);
  margin-top: 9px;
}

.address-item:hover,
.address-item:focus {
  color: var(--main-accent);
  text-decoration: underline;
}
.adress-container {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.social-links .link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

/* ссылки на соцсети универсальный инструмент*/

.social-links__title {
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pure-white-color);
}
.social-links__item {
  margin-right: 10px;
  flex-basis: calc((100% - 3 * 10px) / 4);
}

.social-links__item:last-child {
  margin-right: 0px;
}

.social-links__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--main-accent);
  border-radius: 50%;
}

/* подписаться на рассылку */

.subscribe {
  margin-left: 50px;
}

.subscribe h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--pure-white-color);
  margin-top: 15px;
}

.subscribe-form {
  position: relative;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.subscribe-form input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border-style: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--pure-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form input:focus {
  border-color: var(--pure-white-color);
}

.subscribe-form button {
  display: flex;
  align-items: center;
  border-style: none;
  cursor: pointer;
  text-align: left;
  margin-left: 12px;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  background: var(--main-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: normal;
  color: var(--pure-white-color);
}

.subscribe svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
