.page-header {
  background-color: var(--pure-white-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  margin-right: auto;
}

.main-nav__list {
  margin-left: 93px;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--main-accent);
}

.link--current {
  color: var(--main-accent);
  position: relative;
}

.link--current:after {
  content: '';
  position: absolute;
  background-color: var(--main-accent);
  height: 4px;
  width: 100%;
  border-radius: 4px;
  left: 0;
  bottom: -31px;
}

.header-contacts__link {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: var(--secondary-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--main-accent);
  text-decoration: underline;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: var(--main-accent);
}

.header-contacts__icon {
  display: inline-block;
  margin-right: 10px;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
